*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.home{
    height: calc(100vh-64px);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}
.link{
    text-decoration: none;
    color: inherit;
}