/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */
.card {
  width: 260px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 12px;
  margin: 15px;
}
.card img {
  width: 100%;
  height: 260px;
  object-fit: cover;
}
.pname{
    margin: 4px 6px;
}
.details{
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}