* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav {
  height: 64px;
  width: 100%;
  background-color: deepskyblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 90px;
}
.link{
    text-decoration: none;
    color: white;
}
.search{
  width: 600px;
  height: 45px;
  padding: 10px;
  font-size: large;
  border: 1px solid;
  border-radius: 8px;
}
.link button {
  background-color: white;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}
.navMenu{
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  font-size: 25px;
  font-weight: bold;
}